/*GUÍA DE COLORES Y FORMATOS*/
:root{
  --color-navbar: #380B4C;
  --color-footer: #1B0326;
  --color-fondo: #fafafa;
  --btn-color-solido: #A955CE;
  --btn-color-hover: #5620ad;
  --texto-titulo: #2d1b69;
  --texto-parrafo: #555;
  --texto-parrafo-claro: #888;
  --color-error: #e63946;
}
/*general*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}
body {
  color: var(--texto-parrafo);
  background-color: var(--color-fondo);
}
/*header*/
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--color-navbar);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 1rem 2rem;
  color: #fff;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logo img {
  width: 40px;
  height: 40px;
  
}#log{
    color: #fff;
}
.logo a{
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-right: 1.5rem;
}
.nav a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-right: 1.5rem;
}
.buttons {
  display: flex;
  gap: 0.8rem;
}
.btn-outline {
  background: #fff;
  height: 40px;
  border: 2px solid var(--btn-color-solido);
  color: var(--btn-color-solido);
  padding: 0.4rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-outline:hover {
  background: var(--btn-color-hover);
  border: 2px solid var(--btn-color-hover);
  color: white;
}
.btn-solid {
  background: var(--btn-color-solido);
  height: 40px;
  color: white;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-solid:hover {
  background: var(--btn-color-hover);
}
/*banner*/
.banner {
  position: relative;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: left;
  background: url("banner.jpg") center/cover no-repeat;
}
.banner .overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, rgba(56, 11, 76, 0.845), rgba(255, 255, 255, 0));
}
.banner-content {
  position: relative;
  max-width: 600px;
  padding: 2rem;
}
.banner h2 {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}
.banner p {
  font-size: 1.1rem;
}
/*nosotros*/
.about {
  text-align: center;
  padding: 4rem 2rem;
  background-color: #fff;
}
.about h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--texto-titulo);
}
.about .intro {
  max-width: 800px;
  margin: 0 auto 3rem auto;
  color: var(--texto-parrafo);
  font-size: 1rem;
  line-height: 1.6;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.card {
  background-color: var(--color-fondo);
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  padding: 2rem;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-6px);
}
.card img {
  width: 250px;
  border-radius: 16px;
  height: auto;
  margin-bottom: 1.2rem;
}
.card h3 {
  color: var(--texto-titulo);
  margin-bottom: 0.6rem;
  font-size: 1.1rem;
}
.card p {
  color: var(--texto-parrafo);
  font-size: 0.95rem;
  margin-bottom: 1rem;
}
.btn-card {
  background: var(--btn-color-solido);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.btn-card:hover {
  background: var(--btn-color-hover);
}
/*formularios*/
.form-section {
  min-height: 100vh; /*viewport height*/
  background: linear-gradient(to bottom, rgb(52, 9, 70), rgba(255, 255, 255, 0));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 6rem; 
  padding-bottom: 4rem;
}
.form-content {
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}
.form-content h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
.form-content p {
  font-size: 1rem;
  color: #f0eaff;
  margin-bottom: 2rem;
}
.form-content span{
    color: var(--color-error);
}
.formulario {
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
  max-width: 420px;
  width: 90%;
  margin: 0 auto;
  padding: 2.5rem 2rem;
}
.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}
.form-group input {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 2px solid #ddd;
  border-radius: 50px;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s ease;
}
/*Estilos de tablas base*/
.tableContainerBody {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.tableContainer {
    width: 90%;
    max-width: 1000px;
}
.tableContainer h1 {
    text-align: center;
    color: #4a4a4a;
    font-size: 3rem;
    margin-bottom: 30px;
}
.table-card {
    background-color: var(--color-fondo);
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--color-fondo);
}
thead {
    background-color: var(--color-navbar);
    color: white;
}
th {
    padding: 15px;
    font-weight: 400;
    font-size: 0.9rem;
    text-align: center;
}
td {
    padding: 15px;
    text-align: center;
    color: #555;
    border-bottom: 1px solid #eee;
}
tbody tr:nth-child(even) {
    background-color: #f0f0f0;
}
tbody tr:nth-child(odd) {
    background-color: #ffffff;
}
tbody tr:hover {
    background-color: #e8e0eb;
    transition: background-color 0.3s ease;
}
.actions {
    display: flex;
    gap: 8px;
    justify-content: center;
}
.btn-edit, .btn-delete {
    border: none;
    border-radius: 8px;
    width: 35px;
    height: 35px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-edit { background-color: var(--btn-color-solido); }
.btn-delete { background-color: var(--color-navbar); }
.footer-actions {
    display: flex;
    justify-content: flex-end;
    padding: 20px 10px;
}
/*Botones inferiores movimientos*/
.footer-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.right-group {
    display: flex;
    gap: 20px;
}

/* Botón Regresar (Oscuro) */
.btn-back {
    background-color: var(--color-navbar);
    color: white;
    border: none;
    padding: 5px 40px;
    border-radius: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

/* Botón Eliminar (Blanco con borde morado) */
.btn-delete-outline {
    background-color: white;
    color: var(--btn-color-solido);
    border: 2px solid var(--btn-color-solido);
    padding: 5px 40px;
    border-radius: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

/* Botón Agregar (Morado claro) */
.btn-add-large {
    background-color: var(--btn-color-solido);
    color: white;
    border: none;
    padding: 5px 40px;
    border-radius: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

/* Efectos Hover */
button:hover {
    opacity: 0.9;
    transform: translateY(-2px);
    transition: all 0.1s;
    background: var(--btn-color-hover);
    border: 2px solid var(--btn-color-hover);
    color: white;

}

/*ERRORES Y JERARQUÍA DE CSS*/
.form-group input.input-error {
  border: 2px solid #e63946;
}
.form-group input:focus {
  border-color: var(--btn-color-hover);
}
.btn-aceptar {
  background: var(--btn-color-solido);
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
}
.btn-aceptar:hover {
  background: var(--btn-color-hover);
}
.btn-confirmar{
  background:var(--btn-color-solido);
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 45%;
}
.btn-confirmar:hover {
  background: var(--btn-color-hover);
}
.btn-cancelar{
  background: var(--texto-parrafo-claro);
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 45%;
}
.btn-cancelar:hover {
  background: var(--btn-color-hover);
}
#register-text {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: var(--texto-parrafo-claro);
}
#register-text a {
  color: #6c2bd9;
  font-weight: 400;
  text-decoration: none;
}
#register-text a:hover {
  text-decoration: underline;
}
/*DIV ERROR MENSAJES*/
.error-msg {
  color: #e63946;    
  font-size: 0.9em;
  margin-top: 4px;
  display: block;
}
#responseMsg{
  color: #e63946;    
  font-size: 0.9em;
  margin-top: 4px;
  display: block;
}
/* footer*/
.footer {
  background-color: var(--color-footer);
  color: white;
  justify-content: center;
  text-align: center;
  padding: 2rem 1rem;
}
.logo_footer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer img {
  width: 40px;
  margin-bottom: 0.5rem;
}
/* responsive*/
@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
    gap: 0.8rem;
  }
  .logo a{
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  margin-right: 1rem;
  }
  .nav a{
    display:none;
  }
  .banner {
    height: 300px;
    text-align: center;
  }
  .banner-content {
    padding: 1.5rem;
  }
  .banner h2 {
    font-size: 2rem;
  }
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .card {
    max-width: 90%;
  }
  
  /* formulario*/
  .login-content h2 {
    font-size: 2rem;
  }
  .login-form {
    padding: 2rem 1.5rem;
  }
}